<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>CIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/user/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="/user/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="/user/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="/user/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
</head>
<body class="authentication-bg">
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="index.html" class="mb-5 d-block auth-logo"> <img src="/user/images/CIMS.png" alt=""
                                                                              height="100"  width="100" class="logo logo-dark"> <img
                            src="/user/images/CIMS.png" alt="" height="100" width="100" class="logo logo-light"> </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Welcome User !</h5>
                        </div>
                        <div class="p-2 mt-4">
                            <div hidden id="loggedOutMssg"
                                 style="background-color:lightgreen;color:darkgreen;padding:10px;">You
                                have been logged out successfully.
                            </div>
                            <div hidden id="enterCredentialsMssg"
                                 style="background-color:lightorange;color:darkorange;padding:10px;">Please Enter User
                                name,
                                Password !!!
                            </div>
                            <div hidden id="invalidCredentialsMssg"
                                 style="background-color:lightorange;color:#ff0000;padding:10px;">
                                Invalid username and password.
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="userName">Username</label>
                                <input type="text" class="form-control" id="userName" placeholder="Enter username">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password">
                            </div>
                            <div class="mt-3 text-end">
                                <button class="btn btn-primary w-sm waves-effect waves-light" type="submit"
                                        onclick="authRequest()">Log In
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> CIMS
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- JAVASCRIPT -->
<script src="/user/libs/jquery/jquery.min.js"></script>
<script src="/user/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/libs/metismenu/metisMenu.min.js"></script>
<script src="/user/libs/simplebar/simplebar.min.js"></script>
<script src="/user/libs/node-waves/waves.min.js"></script>
<script src="/user/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/user/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/user/js/module/common.js"></script>
<script src="/user/js/module/login.js"></script>
<!-- App js -->
<script src="/user/js/app.js"></script>
</body>
</html>