<div class="js" th:fragment="js" xmlns:th="http://www.thymeleaf.org">
    <div class="rightbar-overlay"></div>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- JAVASCRIPT -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/user/libs/jquery/jquery.min.js"></script>
    <script src="/user/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/user/libs/metismenu/metisMenu.min.js"></script>
    <script src="/user/libs/simplebar/simplebar.min.js"></script>
    <script src="/user/libs/node-waves/waves.min.js"></script>
    <script src="/user/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/user/libs/jquery.counterup/jquery.counterup.min.js"></script>
    <!-- apexcharts -->
    <script src="/user/libs/apexcharts/apexcharts.min.js"></script>
    <script src="/user/js/pages/dashboard.init.js"></script>
    <!-- App js -->
    <script src="/user/js/app.js"></script>
    <script src="/user/libs/select2/js/select2.min.js"></script>
    <!-- dropzone plugin -->
    <script src="/user/libs/dropzone/min/dropzone.min.js"></script>
    <!-- init js -->
    <script src="/user/js/pages/ecommerce-add-product.init.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- common js -->
    <script src="/user/js/module/common.js"></script>
    <!-- page redirection js -->
    <script src="/user/js/module/pageRedirection.js"></script>
    <script src="/user/libs/datatable/datatables.min.js"></script>
</div>
