<div class="head" th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title th:text="${pageName}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
        <meta content="Themesbrand" name="author"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <!-- App favicon -->
        <link rel="shortcut icon" href="/user/images/main-icon.png">
        <!-- Bootstrap Css -->
        <link href="/user/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
        <!-- Icons Css -->
        <link href="/user/css/icons.min.css" rel="stylesheet" type="text/css"/>
        <!-- App Css-->
        <link href="/user/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <link href="/user/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
        <!-- dropzone css -->
        <link href="/user/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css"/>
        <!-- DataTables css -->
        <link href="/user/libs/datatable/datatables.min.css" rel="stylesheet" type="text/css"/>


        <style>
            .nav-text {
                color: rgb(184, 199, 206);
            }

            .fa-bars {
                color: white;
            }

            .logo-lg {
                color: white;
            }

            a {
                text-decoration: none;
            }

            input[type="checkbox"] {
                cursor: pointer;
            }
        </style>
    </head>
</div>
